$color-blue: #3563e9;
$color-white: #fff;
$color-black: #1d2433;
$color-gray: #5f6c85;
$color-gray-lighter: #E1E6EF;

$bg-blue: #5F8AF5;
$bg-blue-lighter: #F3F6FF;
$bg-gray: #F0F5FF;
$bg-black: #23272F;
$bg-purple: #7C5CFC;

